<!DOCTYPE html>
<%var q=0%>
 <%list.forEach(speciality=>{%>
  <%q++%>
<%if(q==1){%>
<head>

</head>
<body>
    Doctor Deatil Deleted successfully!!!!
    <form action="hosppage" method="post">
        <button type="submit" class="btn btn-danger btn-sm" value="<%= speciality.hid %>" name="value">Home Page</button>
    </form> 
    <%}%>
        <%})%>                
</body>
</html>